.articleTime {
    font-weight: bold;
    font-size: 0.6rem;
}

.text {
    font-size: 0.6rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}

.content {
    margin-bottom: 0.5rem;
}

.container {
    border: 1.5px solid #c30202;
    background-image: linear-gradient(90deg, rgb(180, 86, 91), white 20%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0.3rem #787878;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    color : #c30202;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    font-size: medium;
}

@media (min-width: 360px) {
    .title {
        font-size: large;
    }
} 

@media (min-width: 600px) {
    .title {
        font-size: larger;
    }
}